{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'new.css' %}">
</head>
<body>
    <a href="{% url 'create_movie' %}">Utwórz Film</a>
    {% if movies %}
    <h1>There are {{ movies|length }} movies in the database.</h1>
         {% for movie in movies %}
         <h3>{{ movie.title }}</h3>
         <p>{{ movie.description }}</p>
         <a href="{% url 'update_movie' movie.id %}">Edytuj Film</a>
         <a href="{% url 'delete_movie' movie.id %}">Usuń Film</a>
         {% endfor %}
         {% else %}
    <h1>There are no movies in the database.</h1>
    {% endif %}

</body>
</html>